<%- include("template/cabecera")  %> 
<%- include("template/nav")  %> 

<div class="container">
 <div class="row">
  <form class="col-4">
      <input type="email" placeholder="Correo" class="form-control mb-3" id="email" aria-describedby="emailHelp">
      <input type="text" placeholder="Nombre"  class="form-control mb-3" id="nombre">
      <textarea type="password" placeholder="Ingrea tu Actividad" class="form-control mb-1" id="actividad" rows="5"></textarea>
      <select class="form-control mb-3" id="prioridad">
        <option value="3">Prioridad Alta</option>
        <option value="2">Prioridad Madia</option>
        <option value="1">Prioridad Baja</option>
      </select>
      <button type="submit" class="btn btn-primary mb-3">Agregar</button>
  </form>
</div>
</div>

<%- include("template/pie")  %> 
